@import 'tailwindcss';

@theme {
	--default-font-family: 'Nunito', sans-serif;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
}

@layer utilities {
	.grid-board {
		margin-inline: auto;
		display: grid;
		aspect-ratio: 1/1;
		grid-template-columns: 12.2% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 12.2%;
		grid-template-rows: 12.2% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 8.4% 12.2%;
		transition: all 0.15s ease-in-out;
	}

	.zoom-in {
		padding: 8rem;
		height: 500vh;
	}

	.zoom-out {
		padding: 2rem;
		height: 100vh;
	}

	.prop-left {
		writing-mode: sideways-lr;
		text-orientation: mixed;
	}

	.prop-right {
		writing-mode: sideways-lr;
		text-orientation: mixed;
	}

	.inner-deck {
		pointer-events: none;
	}
}
